* {
  font-family: 'Open Sans', sans-serif;

  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;
}

body, html {
  width: 100%;
  margin: 0;
  background-color: #F5F5F5;
}

h1 {
  font-weight: 100;
  border-bottom: 1px solid #B0C4DE;
}

h2{
  font-weight: 100;
  color: #B0C4DE;
  font-size: 18px;
  margin: 0;
}

h2:hover {
  color: #000;
}

h3{
  font-weight: 100;
  color: #B0C4DE;
  font-size: 18px;
  margin: 0;
}

h6 {
  margin: 0;
  margin-top: 5px;
  margin-bottom: 5px;
  color: gainsboro;
}

h6 a {
  color: gainsboro;
}

h6 a:hover {
  color: #B0C4DE;
}

a {
  text-decoration: none;
}


.container {
  width: 50%;
  height: auto;
  margin: auto;
}

.header {
  background-color: #fff;
  width: 100%;
  height: 70px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header img {
  width: auto;
  height: 50%;
  margin-left: 20px;
}

.headerForm {
  margin-right: 20px;
}

form {
  display: inline;
}

input[name=username], [name=password] {
  height: 30px;
  border-radius: 2px;
  border: 1px solid #333;
  margin-left: 10px;
  margin-top: 0px;
  outline: none;
  padding-left: 5px;
  font-size: 11px;
}

input[name=login], [name=newuser], [name=registerButton], [name=linkButton], [name=settings] {
  height: 30px;
  margin-left: 10px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 2px;
  padding-left: 10px;
  padding-right: 10px;
  outline: none;
}


input[name=login]:hover, [name=newuser]:hover, [name=registerButton]:hover, [name=linkButton]:hover, [name=settings]:hover {
  background-color: #B0C4DE;
}

.inputRegister {
  margin-top: 10px;
  margin-bottom: 10px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.inputRegister p {
  margin: 0;
  font-size: 15px;
  font-weight: 300;
  float: right;
}

input[name=registerFullname], [name=registerUsername],[name=registerEmail],[name=registerPassword],[name=registerPassword2], [name=newSubject],[name=newDescription], [name=newLink]  {
  width: 75%;
  height: 40px;
  border-radius: 2px;
  outline: none;
  border: 1px solid #ddd;
  padding-left: 5px;
  font-size: 13px;
}

[name=registerButton], [name=linkButton] {
  float: right;
  margin-top: 10px;
}

input[name=settingEmail], [name=settingPassword1], [name=settingInformation] {
  width: 100%;
  height: 40px;
  border-radius: 2px;
  outline: none;
  border: 1px solid #ddd;
  padding-left: 5px;
  font-size: 13px;
  margin-bottom: 20px;
}

input[name=settingAvatar] {
  width: 160px;
  height: 160px;
  border-radius: 2px;
  outline: none;
  border: 1px solid #ddd;
  padding-left: 5px;
  font-size: 13px;
  margin-bottom: 20px;
}

.post {
  background-color: #fff;
  border-radius: 2px;
  margin-bottom: 5px;
  margin-top: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
}

.post p {
  font-size: 12px;
  margin: 0;
  margin-top: 4px;
}

.newPost {
  margin-bottom: 80px;
}

.comments {
  background-color: #fff;
  padding: 5px;
  margin: 0;
  height: 35px;

  display: none;
  justify-content: space-between;
}

.comments img {
  width: 25px;
  height: 25px;
}

input[name=writeComment] {
  width: 100%;
  height: 25px;
  border-radius: 2px;
  outline: none;
  border: 1px solid #ddd;
  padding-left: 5px;
  font-size: 10px;
  margin-left: 5px;
}

input[name=commentButton], input[name=commentDeleteButton] {
  float: right;
  height: 25px;
  margin-left: 5px;
  background-color: #B0C4DE;
  color: #fff;
  border: none;
  border-radius: 2px;
  padding-left: 10px;
  padding-right: 10px;
  outline: none;
}

input[name=commentButton]:hover, input[name=commentDeleteButton]:hover {
  background-color: #ddd;
}


.commentBut {
  display: inline;
}
